RewriteEngine On

RewriteRule js/[0-9]*/(.*) js/$1
RewriteRule css/([^.]*)\.[0-9]*\.css css/$1.css

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /index.php [L]

php_value display_errors On

AddType video/ogg  .ogv
AddType video/mp4  .mp4
AddType video/webm .webm

SetEnvIfNoCase Request_URI \.(og[gv]|mp4|m4v|webm)$ no-gzip dont-vary
