<nav>
	<ul>
		<li class="level1">
			<a href="{{routes.about.url}}">Kik vagyunk?</a>
			<ul>
			</ul>
		</li>
		<li class="level1">
			<a href="{{routes.projects.url}}">Mit csinálunk?</a>
			<ul>
				<li><a href="{{routes.projects.url}}#cms">CMS</a></li>
				<li><a href="{{routes.projects.url}}#videostreaming-engine">Videostreaming engine</a></li>
				<li><a href="{{routes.projects.url}}#egyedi-webes-fejlesztesek">Egyedi webes fejlesztések</a></li>
				<li><a href="{{routes.projects.url}}#uzemeltetes">Üzemeltetés</a></li>
			</ul>
		</li>
		<li class="level1">
			<a href="{{routes.office.url}}">Milyen nálunk?</a>
			<ul>
				<li><a href="{{routes.office.url}}#hol-vagyunk">Hol vagyunk?</a></li>
				<li><a href="{{routes.office.url}}#milyen-nalunk-dolgozni">Milyen nálunk dolgozni?</a></li>
			</ul>
		</li>
		<li class="level1">
			<a href="{{routes.jobs.url}}">Kit keresünk?</a>
			<ul>
				<li><a href="{{routes.jobs.url}}#mire-szamitunk-toled">Mire számítunk tőled?</a></li>
				<li><a href="{{routes.jobs.url}}#mit-nyujtunk-mi">Mit nyújtunk mi?</a></li>
				<li><a href="{{routes.jobs.url}}#nyitott-pozicioink">Nyitott pozícióink</a></li>
			</ul>
		</li>
	</ul>
</nav>
