<header>
	<h1 class="logo">
		<a href="/">
			<img src="image/logo.svg" class="svg" alt="EcoStudio" />
			<img src="image/logo.png" class="svg-fallback" alt="EcoStudio" />
		</a>
	</h1>

	<div class="header-menu">
		<nav class="header-nav">
			<ul>
				{{#routes.about}}
				<li{{#active}} class="active"{{/active}}><a href="{{url}}">Kik vagyunk?</a>
				{{/routes.about}}

				{{#routes.projects}}
				<li{{#active}} class="active"{{/active}}><a href="{{url}}">Mit csinálunk?</a>
				{{/routes.projects}}

				{{#routes.office}}
				<li{{#active}} class="active"{{/active}}><a href="{{url}}">Milyen nálunk?</a>
				{{/routes.office}}

				{{#routes.jobs}}
				<li{{#active}} class="active"{{/active}}><a href="{{url}}">Kit keresünk?</a>
				{{/routes.jobs}}

				{{#routes.contact}}
				<li{{#active}} class="active"{{/active}}><a href="{{url}}">Jelentkezz!</a>
				{{/routes.contact}}
			</ul>
		</nav>

		<ul class="social">
			<li><a class="github" target="_blank" title="GitHub" href="https://github.com/ecostudio/ecoio-site"></a></li>
			<li><a class="linkedin" target="_blank" title="LinkedIn" href="https://www.linkedin.com/company/economic-st%C3%BAdi%C3%B3-kft-?trk=biz-companies-cym"></a></li>
			<li><a class="google" target="_blank" title="Google+" href="https://plus.google.com/104345898366385274210/about"></a></li>
		</ul>
	</div>

	<div class="header-menu-mobile">
		<button class="menu-toggle"></button>
	</div>
</header>
