base_vw_font_size = 1.1vw

tablet_multiplier = 1.5

page_margin_small = (golden(4))vw
page_margin_big = (golden(2) - golden(4))vw

contrast_shadow = 0 2px 1px -1px #c2bebc

animtime_decorinfo_panel = (0.5s)
animdelay_decorinfo_panel = (0.1s)

form_arrow_size = (0.5em)

//////////
//COLORS//
//////////

ecogreen = #82b721
ecogreen_ie8 = #777

body_text_color = #999

header_bg_color = #f3f3f3
header_text_color = #9a9897
header_nav_active_bg = #e6e6e6

footer_bg_color = #525151
footer_text_color = #9a9c9c

hero_overlay_color = #7dc543

services_red = #ea7335
services_blue = #4dabcf
services_green = #b0d46c

form_error_color = #ff9696
form_error_color_ie8 = #555
placeholder_color = #aaa

////////////
//Z-INDEXES//
////////////

z_herocover_hide = 10
z_heromedia = 15
z_herocover = 20
z_herotext = 25
z_team_icon_hover = 40
z_topmenu_drawer = 50
z_topbar = 200

////////////
//TOP BAR //
////////////

top_bar_height = golden(4, false)vw
header_elem_spacing = (golden(3) - (golden(5) * 2))vw
header_social_spacing = (golden(5, false))vw
header_social_spacing_mobile = page_margin_small * 2
header_social_size = 1.6em
header_social_size_mobile = 1.85em

/////////
//HERO //
/////////

hero_text_top = (golden(2) - golden(4, false))vw
hero_icon_size = golden(3)vw
hero_title_height = golden(4, false)vw
hero_fade_time = 0.5s
