base_vw_font_size = 1.25vw

tablet_multiplier = 1.5

page_margin_small = (golden(4))vw
page_margin_big = (golden(2) - golden(4))vw

contrast_shadow = 0 2px 1px -1px #c2bebc

ecogreen = #9acb35
body_text_color = #999
hero_overlay_color = #7dc543
services_red = #ea7335
services_blue = #4dabcf
services_green = #b0d46c

z_herocover_hide = 10
z_heromedia = 15
z_herocover = 20
z_herotext = 25
z_topmenu_drawer = 50
z_topbar = 200

animtime_decorinfo_panel = (0.5s)
animdelay_decorinfo_panel = (0.1s)

form_error_color = #ff9696
form_arrow_size = (0.5em)

////////////
//TOP BAR //
////////////

top_bar_height = golden(4, false)vw
header_elem_spacing = (golden(3) - (golden(5) * 2))vw
header_social_spacing = (golden(5, false))vw
header_social_spacing_mobile = page_margin_small * 2
header_social_size = 1.4em
header_social_size_mobile = 1.85em
header_text_color = #9a9897
header_nav_active_bg = #e6e6e6

/////////
//HERO //
/////////

hero_text_top = (golden(2) - golden(4, false))vw
hero_icon_size = golden(3)vw
hero_title_height = golden(4, false)vw
hero_fade_time = 0.5s

///////////
//FOOTER //
///////////

footer_menu_color = #efeeef
footer_menu_bgcolor = #cccccd
footer_copy_color = #919091
