@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans-bold-webfont.eot');
	src: url('../fonts/notosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/notosans-bold-webfont.woff2') format('woff2'),
		 url('../fonts/notosans-bold-webfont.woff') format('woff'),
		 url('../fonts/notosans-bold-webfont.ttf') format('truetype'),
		 url('../fonts/notosans-bold-webfont.svg#noto_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans-regular-webfont.eot');
	src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
		 url('../fonts/notosans-regular-webfont.woff') format('woff'),
		 url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
		 url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Ubuntu Light';
	src: url('../fonts/ubuntu-light-webfont.eot');
	src: url('../fonts/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ubuntu-light-webfont.woff2') format('woff2'),
		 url('../fonts/ubuntu-light-webfont.woff') format('woff'),
		 url('../fonts/ubuntu-light-webfont.ttf') format('truetype'),
		 url('../fonts/ubuntu-light-webfont.svg#ubuntulight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/ubuntu-regular-webfont.eot');
	src: url('../fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ubuntu-regular-webfont.woff2') format('woff2'),
		 url('../fonts/ubuntu-regular-webfont.woff') format('woff'),
		 url('../fonts/ubuntu-regular-webfont.ttf') format('truetype'),
		 url('../fonts/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

font-text() {
	font-family 'Noto Sans'
}

font-header() {
	font-family 'Ubuntu'
}

font-header-light() {
	font-family 'Ubuntu Light'
}
