.bottom-bar {
	text-align center
	font-header()
	color footer_text_color

	nav {
		background-color footer_bg_color
		padding (golden(5, false))vw 0 (golden(4, false))vw
		overflow hidden

		.ie8 & {
			padding 4%
		}

		ul {
			unstyled-list()
		}

		+mobile() {
			font-size 1.2em
		}

		li {
			text-align left
		}

		a {
			display inline-block
			padding (golden(6))vw 0

			color inherit
			font-size 0.9em
			line-height 1.25
			font-weight normal

			+mobile() {
				line-height 1.5
			}
		}

		.level1 {
			display inline-block
			width (golden(1, false) - 50)vw
			padding 0 1em 0 0
			vertical-align top

			&:last-child {
				padding-right 0
			}

			.ie8 & {
				width 20%
			}

			+tablet() {
			}

			+mobile() {
				column(1/2, 0, 2)
				margin 1em 0
			}

			> a {
				display block
				padding 0
				margin (golden(5, false))vw 0 (golden(5, false) / 2)vw
				border-bottom 1px solid ecogreen

				font-size 1.2em
				line-height (golden(4, false))vw
				color white

				+mobile() {
					line-height 2
				}

				&:after {
					content ''
					display block
					border-bottom 1px solid footer_menu_color
					width 33%
					margin 0 auto
				}
			}

			> ul {
				padding-top (golden(5, false) / 2)vw
			}
		}
	}
}

footer {
	background-color white
	line-height (golden(4))vw
	font-size 0.75em

	.ie8 & {
		line-height 50px
	}

	+below(4) {
		line-height 2
	}

	p {
		margin 0
		line-height inherit
	}
}
