label {
	display block
	position relative
	overflow hidden
}

error-under() {
	margin form_arrow_size 0 0
	float left
	left 0
	top -2.6em

	transition top 0.5s ease-out, opacity 0.5s ease-out, max-height 0.2s ease-out

	&:before {
		left form_arrow_size
		top -(form_arrow_size)
		transform none
		margin 1px 0 0

		border-width 0 form_arrow_size form_arrow_size form_arrow_size
		border-color transparent transparent form_error_color transparent

		.ie8 & {
			margin-top 1px
			border-right-color transparent
			border-bottom-color form_error_color_ie8
		}
	}
}

.error {
	display inline-block
	opacity 0
	position relative
	left -50%
	z-index -1
	padding 0.1em 0.6em
	margin-left (form_arrow_size * 2)

	background-color form_error_color
	color white

	transition left 0.5s ease-out, opacity 0.5s ease-out

	.ie8 & {
		background-color form_error_color_ie8
	}

	&:before {
		content ''

		square(0)
		abs-vcenter()
		left -(form_arrow_size)
		margin 0 0 0 1px

		border-style solid
		border-width form_arrow_size form_arrow_size form_arrow_size 0
		border-color transparent form_error_color transparent transparent

		.ie8 & {
			margin-top -0.5em
			border-right-color form_error_color_ie8
		}
	}

	+mobile() {
		error-under()
		margin 0
		max-height 0
	}
}

textarea + .error {
	error-under()
}

&.has-error .error {
	opacity 1
	left 0
	top 0

	+mobile() {
		margin-top (form_arrow_size * 1.5)
		max-height 5em
	}
}

input, textarea, .dropzone {
	box-sizing border-box
	border 1px solid body_text_color
	padding 0.3em 0.5em
	color darken(body_text_color, 20%)
}

textarea {
	width 100%
	resize vertical
	margin-top 2em
}

input, .dropzone {
	width ((1 - golden_ratio) * 100)%
	margin 1em 0 1px

	+mobile() {
		width 100%
	}
}

.dropzone {
	display none
	position relative
	padding-right 4em
	min-height 0

	background white

	transition width 0.2s ease-out, min-height 0.2s ease-out

	button.add {
		cover(0.3em, auto, 0.5em, auto)
		margin 0
		padding 0.25em 1em
		cursor pointer
		pointer-events none
		opacity 1
		transition opacity 0.1s ease-out
	}

	button.remove {
		cover(left: auto)
		margin 0
		padding 0 0.5em
	}

	.dz-message {
		color placeholder_color
		margin 1px 0
	}

	.dz-preview {
		position relative
		background-color #eee
		border 1px solid #ddd

		& + .dz-preview {
			margin-top 0.5em
		}

		&.dz-error .dz-error-mark {
			opacity 1
		}

		&.dz-success .dz-success-mark {
			opacity 1
		}

		&.dz-complete .dz-progress {
			opacity 0
		}

		&.dz-error {

			+below(4) {
				margin-bottom 2.5em
			}

			.error {
				opacity 1
				left 100%

				+mobile() {
					left 0
				}
			}
		}
	}

	.dz-details {
		margin 0 7em 0 2em
		white-space nowrap
		text-overflow ellipsis
		overflow hidden
	}

	.dz-success-mark, .dz-error-mark {
		position absolute
		top 0.2em
		left 0.5em
		opacity 0
		transition opacity 0.2s ease-out
	}

	.dz-success-mark {
		@extend .icon, .icon-check-circle
		color ecogreen
	}

	.dz-error-mark {
		@extend .icon, .icon-times-circle
		color form_error_color
	}

	.dz-size {
		cover(left: auto, right: 2em)
		width 5em
		text-align center

		strong {
			font-weight normal
		}
	}

	.dz-progress {
		cover(top: auto)
		height 2px
		opacity 1
		transition opacity 0.2s ease-out
	}

	.dz-upload {
		cover(right: auto)
		background-color ecogreen
		transition width 0.1s ease-out
	}

	.error {
		position absolute
		top 0
		left 0
		margin-left 5.5em
		white-space nowrap

		+mobile() {
			top 2em
			margin 0
			z-index 1
			max-height none
		}
	}

	&.dz-clickable {
		cursor pointer
	}

	&.dz-drag-hover {
		border-style dashed
		min-height 10em
		width 100%

		button.add {
			opacity 0
		}
	}

	&.dz-started {
		.dz-message {
			display none
		}
	}
}

+placeholder() {
	color placeholder_color
}

button {
	font-text()
	font-size 1em
	line-height 2

	background-color ecogreen
	color white
	border 1px solid darken(ecogreen, 5%)
	padding 0 2em

	form & {
		margin 2em 0 0
	}

	.ie8 & {
		background-color ecogreen_ie8
		border-color darken(ecogreen_ie8, 5%)
	}
}

button.action {
	float right
}

button.cancel {
	float left
}

button.add {
	@extend .icon, .icon-plus
}

button.remove {
	@extend .icon, .icon-minus
}

.honeypot {
	position absolute
	left -1000em
}
