.top-bar {
	height top_bar_height

	background-color header_bg_color
	color header_text_color
	font-size 1.15em
	font-header()

	position fixed
	top 0
	left 0
	right 0
	z-index z_topbar

	border-bottom 1px solid #e1e0e0

	.ie8 & {
		border-bottom 1px solid #ddd
		height 3em
	}

	+tablet() {
		font-size 1em
		height top_bar_height * tablet_multiplier
	}

	+mobile() {
		height auto
	}

	header {
		wide-content()
		cf()
		position relative
	}

	ul {
		unstyled-list()

		li {
			display inline-block
			margin-right header_elem_spacing

			.ie8 & {
				margin-right 2em
			}

			+tablet() {
				margin-right (header_elem_spacing / tablet_multiplier)

				.ie8 & {
					margin-right 1em
				}
			}
		}
	}

	a {
		box-sizing border-box
		oneline-center(top_bar_height)
		text-decoration none
		font-weight normal
		color inherit

		.ie8 & {
			oneline-center(3em)
		}

		+tablet() {
			oneline-center(top_bar_height * tablet_multiplier)
		}

		+mobile() {
			float left
			height auto
			line-height 1
		}
	}

	.logo {
		float left
		width page_margin_big
		margin 0 header_elem_spacing 0 0
		font-size 1em

		.ie8 & {
			height 2.5em
			padding 0.25em 0

			img {
				height 100%
				//filter none
			}
		}

		+mobile() {
			float none
			width auto
			text-align center
		}

		a {
			image-container(left, middle, page_margin_big)
			vertical-align top

			.ie8 & {
				display block
				height 100%
			}

			.ie8 &:before {
				content none
			}

			+mobile() {
				image-container(width: auto)
				float none
				display inline-block
				padding (golden_ratio)em 0

				&:before {
					content none
				}

				img {
					display block
					height 2.2em
				}
			}
		}
	}

	.header-nav {
		float left

		.ie8 & {
			margin-left 0.5em

			+tablet() {
				margin-left -3em
			}
		}

		a {
			transition border-color 0.6s ease
			border-bottom 3px solid transparent

			+mobile() {
				border-bottom none
				border-left 3px solid transparent
			}
		}

		.active a,
		a:hover,
		a:focus {
			outline 0
			border-color ecogreen

			.ie8 & {
				border-color ecogreen_ie8
			}
		}

		.active a {
			color ecogreen

			.ie8 & {
				color ecogreen_ie8
			}
		}
	}

	.social {

		li {
			margin-right header_social_spacing

			.ie8 & {
				margin-right 0.5em
			}

			+mobile() {
				float left
				margin 0 0 0 header_social_spacing_mobile

				&:first-child {
					margin 0
				}
			}
		}

		a {
			@extend .icon
			color header_text_color
			font-size header_social_size
			line-height top_bar_height
			transition color 0.3s ease-out

			&:hover {
				color ecogreen

				.ie8 & {
					color ecogreen_ie8
				}
			}

			.ie8 & {
				oneline-center(1.9em)
			}

			+tablet() {
				line-height top_bar_height * tablet_multiplier
			}

			+mobile() {
				line-height normal
				font-size header_social_size_mobile
			}
		}

		.facebook {
			@extend .icon-facebook-square
		}

		.google {
			@extend .icon-google-plus-square
		}

		.twitter {
			@extend .icon-twitter-square
		}

		.github {
			@extend .icon-github-square
		}

		.linkedin {
			@extend .icon-linkedin-square
		}
	}

	.header-menu {

		.social {
			float right
		}

		+mobile() {
			left -100%

			position absolute
			top 100%
			width ((1 - golden_ratio) * 100)%
			z-index z_topmenu_drawer
			transition left 0.2s ease-out

			background-color #fff
			border 1px solid #bbb

			&.open {
				left (- page_margin_small)
			}

			.header-nav {
				float none
				margin 3.5em 0 page_margin_small

				li {
					display block
					margin 0
				}

				a {
					display block
					float none
					font-size 1.25em
					line-height 2
					padding 0 page_margin_small
				}
			}

			.social {
				float left
				position absolute
				top page_margin_small
				left page_margin_small
			}
		}
	}

	.header-menu-mobile {
		display none

		+mobile() {
			display block

			.social {
				abs-vcenter()
				float none
				right 0
			}
		}

	}

	.menu-toggle {
		reset-button()
		abs-vcenter()
		left 0

		@extend .top-bar .social a
		@extend .icon, .icon-bars

		border-radius 3px
		padding 1px 4px 1px 3px
		outline 0

		font-size 1.35em

		&.open {
			background-color ecogreen
			color #fff

			.ie8 & {
				background-color ecogreen_ie8
			}
		}
	}

}
