.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-weather-snow {
	&:before {
		content: "\e608";
	}
}
.icon-run {
	&:before {
		content: "\e1fe";
	}
}
.icon-devops {
	&:before {
		content: "\e605";
	}
}
.icon-frontend {
	&:before {
		content: "\e606";
	}
}
.icon-admin {
	&:before {
		content: "\e607";
	}
}
.icon-cms {
	&:before {
		content: "\e601";
	}
}
.icon-streaming {
	&:before {
		content: "\e602";
	}
}
.icon-uzemeltetes {
	&:before {
		content: "\e603";
	}
}
.icon-webfejlesztes {
	&:before {
		content: "\e604";
	}
}
.icon-fish {
	&:before {
		content: "\e600";
	}
}
.icon-stack-overflow {
	&:before {
		content: "\e610";
	}
}
.icon-raspberry {
	&:before {
		content: "\e622";
	}
}
.icon-opera {
	&:before {
		content: "\e646";
	}
}
.icon-stylus {
	&:before {
		content: "\e659";
	}
}
.icon-require {
	&:before {
		content: "\e670";
	}
}
.icon-javascript {
	&:before {
		content: "\e681";
	}
}
.icon-netbeans {
	&:before {
		content: "\e69b";
	}
}
.icon-eclipse {
	&:before {
		content: "\e69e";
	}
}
.icon-sublime {
	&:before {
		content: "\e6aa";
	}
}
.icon-go {
	&:before {
		content: "\e61b";
	}
}
.icon-angular {
	&:before {
		content: "\e61d";
	}
}
.icon-docker {
	&:before {
		content: "\e61f";
	}
}
.icon-atom {
	&:before {
		content: "\e624";
	}
}
.icon-apache {
	&:before {
		content: "\e627";
	}
}
.icon-backbone {
	&:before {
		content: "\e62d";
	}
}
.icon-bootstrap {
	&:before {
		content: "\e62f";
	}
}
.icon-bower {
	&:before {
		content: "\e631";
	}
}
.icon-gimp {
	&:before {
		content: "\e633";
	}
}
.icon-cplusplus {
	&:before {
		content: "\e634";
	}
}
.icon-csharp {
	&:before {
		content: "\e637";
	}
}
.icon-c {
	&:before {
		content: "\e639";
	}
}
.icon-safari {
	&:before {
		content: "\e63a";
	}
}
.icon-chrome {
	&:before {
		content: "\e666";
	}
}
.icon-css3 {
	&:before {
		content: "\e679";
	}
}
.icon-debian {
	&:before {
		content: "\e67f";
	}
}
.icon-firefox {
	&:before {
		content: "\e75e";
	}
}
.icon-foundation {
	&:before {
		content: "\e7a3";
	}
}
.icon-git {
	&:before {
		content: "\e7a8";
	}
}
.icon-grunt {
	&:before {
		content: "\e7aa";
	}
}
.icon-html5 {
	&:before {
		content: "\e7f7";
	}
}
.icon-ie {
	&:before {
		content: "\e7f8";
	}
}
.icon-illustrator {
	&:before {
		content: "\e7f9";
	}
}
.icon-inkscape {
	&:before {
		content: "\e835";
	}
}
.icon-java {
	&:before {
		content: "\e842";
	}
}
.icon-jquery {
	&:before {
		content: "\e84a";
	}
}
.icon-laravel {
	&:before {
		content: "\e852";
	}
}
.icon-less {
	&:before {
		content: "\e853";
	}
}
.icon-mysql {
	&:before {
		content: "\eb61";
	}
}
.icon-nodejs {
	&:before {
		content: "\eb6a";
	}
}
.icon-photoshop {
	&:before {
		content: "\eb6c";
	}
}
.icon-php {
	&:before {
		content: "\eb71";
	}
}
.icon-pgsql {
	&:before {
		content: "\eb7d";
	}
}
.icon-python {
	&:before {
		content: "\eb89";
	}
}
.icon-sass {
	&:before {
		content: "\ebcb";
	}
}
.icon-ubuntu {
	&:before {
		content: "\ebd1";
	}
}
.icon-music {
	&:before {
		content: "\f001";
	}
}
.icon-star-o {
	&:before {
		content: "\f006";
	}
}
.icon-film {
	&:before {
		content: "\f008";
	}
}
.icon-book {
	&:before {
		content: "\f02d";
	}
}
.icon-pencil {
	&:before {
		content: "\f040";
	}
}
.icon-times-circle {
	&:before {
		content: "\f057";
	}
}
.icon-check-circle {
	&:before {
		content: "\f058";
	}
}
.icon-plus {
	&:before {
		content: "\f067";
	}
}
.icon-minus {
	&:before {
		content: "\f068";
	}
}
.icon-shopping-cart {
	&:before {
		content: "\f07a";
	}
}
.icon-bar-chart {
	&:before {
		content: "\f080";
	}
}
.icon-bar-chart-o {
	&:before {
		content: "\f080";
	}
}
.icon-twitter-square {
	&:before {
		content: "\f081";
	}
}
.icon-facebook-square {
	&:before {
		content: "\f082";
	}
}
.icon-camera-retro {
	&:before {
		content: "\f083";
	}
}
.icon-linkedin-square {
	&:before {
		content: "\f08c";
	}
}
.icon-github-square {
	&:before {
		content: "\f092";
	}
}
.icon-twitter {
	&:before {
		content: "\f099";
	}
}
.icon-rss {
	&:before {
		content: "\f09e";
	}
}
.icon-group {
	&:before {
		content: "\f0c0";
	}
}
.icon-users {
	&:before {
		content: "\f0c0";
	}
}
.icon-flask {
	&:before {
		content: "\f0c3";
	}
}
.icon-bars {
	&:before {
		content: "\f0c9";
	}
}
.icon-navicon {
	&:before {
		content: "\f0c9";
	}
}
.icon-reorder {
	&:before {
		content: "\f0c9";
	}
}
.icon-google-plus-square {
	&:before {
		content: "\f0d4";
	}
}
.icon-money {
	&:before {
		content: "\f0d6";
	}
}
.icon-sitemap {
	&:before {
		content: "\f0e8";
	}
}
.icon-coffee {
	&:before {
		content: "\f0f4";
	}
}
.icon-fighter-jet {
	&:before {
		content: "\f0fb";
	}
}
.icon-beer {
	&:before {
		content: "\f0fc";
	}
}
.icon-angle-left {
	&:before {
		content: "\f104";
	}
}
.icon-angle-right {
	&:before {
		content: "\f105";
	}
}
.icon-desktop {
	&:before {
		content: "\f108";
	}
}
.icon-quote-left {
	&:before {
		content: "\f10d";
	}
}
.icon-quote-right {
	&:before {
		content: "\f10e";
	}
}
.icon-circle {
	&:before {
		content: "\f111";
	}
}
.icon-gamepad {
	&:before {
		content: "\f11b";
	}
}
.icon-anchor {
	&:before {
		content: "\f13d";
	}
}
.icon-bullseye {
	&:before {
		content: "\f140";
	}
}
.icon-compass {
	&:before {
		content: "\f14e";
	}
}
.icon-bitcoin {
	&:before {
		content: "\f15a";
	}
}
.icon-btc {
	&:before {
		content: "\f15a";
	}
}
.icon-youtube {
	&:before {
		content: "\f167";
	}
}
.icon-apple {
	&:before {
		content: "\f179";
	}
}
.icon-windows {
	&:before {
		content: "\f17a";
	}
}
.icon-android {
	&:before {
		content: "\f17b";
	}
}
.icon-linux {
	&:before {
		content: "\f17c";
	}
}
.icon-female {
	&:before {
		content: "\f182";
	}
}
.icon-male {
	&:before {
		content: "\f183";
	}
}
.icon-archive {
	&:before {
		content: "\f187";
	}
}
.icon-google {
	&:before {
		content: "\f1a0";
	}
}
.icon-reddit {
	&:before {
		content: "\f1a1";
	}
}
.icon-paw {
	&:before {
		content: "\f1b0";
	}
}
.icon-automobile {
	&:before {
		content: "\f1b9";
	}
}
.icon-car {
	&:before {
		content: "\f1b9";
	}
}
.icon-tree {
	&:before {
		content: "\f1bb";
	}
}
.icon-database {
	&:before {
		content: "\f1c0";
	}
}
.icon-history {
	&:before {
		content: "\f1da";
	}
}
.icon-futbol-o {
	&:before {
		content: "\f1e3";
	}
}
.icon-soccer-ball-o {
	&:before {
		content: "\f1e3";
	}
}
.icon-calculator {
	&:before {
		content: "\f1ec";
	}
}
.icon-paint-brush {
	&:before {
		content: "\f1fc";
	}
}
.icon-area-chart {
	&:before {
		content: "\f1fe";
	}
}
.icon-line-chart {
	&:before {
		content: "\f201";
	}
}
.icon-bicycle {
	&:before {
		content: "\f206";
	}
}
.icon-motorcycle {
	&:before {
		content: "\f21c";
	}
}
.icon-server {
	&:before {
		content: "\f233";
	}
}
.icon-train {
	&:before {
		content: "\f238";
	}
}
.icon-dashboard {
	&:before {
		content: "\f07d";
	}
}
.icon-telescope {
	&:before {
		content: "\f088";
	}
}
.icon-meter {
	&:before {
		content: "\e9a6";
	}
}
.icon-airplane {
	&:before {
		content: "\e9af";
	}
}
.icon-shield {
	&:before {
		content: "\e9b4";
	}
}
.icon-sun {
	&:before {
		content: "\e9d4";
	}
}
.icon-github4 {
	&:before {
		content: "\eab4";
	}
}

