.slider {
	position relative
	overflow hidden

	.slide {
		position relative
		overflow hidden
	}

	.slick-list {
		z-index 1 //for IE8, but won't work with .ie8 somehow
	}

	.prev, .next, .slick-prev, .slick-next {
		@extend .icon

		background none
		border none
		outline none
		padding 0
		overflow hidden

		width hero_icon_size
		abs-vcenter()
		z-index 2

		font-size 4em
		text-shadow 0 0 3px #444
		white-space nowrap

		.ie8 & {
			top 40%
		}

		+below(4) {
			top (hero_icon_size / 2)
			transform none
		}

		+mobile() {
			width auto
			font-size 2em
		}
	}

	.prev, .slick-prev {
		@extend .icon-angle-left
		left 0
	}

	.next, .slick-next {
		@extend .icon-angle-right
		right 0
	}
}
