<article class="error-page text-content">

	<h1><span class="error-code">404</span> Az oldal nem található.</h1>

	<p class="error-details">Dr. Kotász mindent megtett, de nem tudta előkeríteni a kért oldalt...</p>

</article>
