<article class="text-content about-page">

	<h1>Kik vagyunk?</h1>

	<img class="full-image" src="image/jobs/image1.jpg" alt="" />

	<p>Egy fiatal, ötletekkel teli (gyakran maximalizmusra hajlamos) csapat, akik azért fogtunk össze, hogy mindazt, amiről eddig úgy gondoltuk, "jobban tudnánk csinálni", azt meg is csináljuk.</p>

	<p>Cégünk több éve a piacon van, de mi nem elégedtünk meg a középszerű megoldásokkal, unalmas rutinmunkával, a babzsákfotellel és csocsóasztallal felszerelt mókuskerékkel, hanem új kihívást, és valódi sikerélményeket kerestünk.</p>

	<p>Ezért indítottuk új projektjeinket, mert hiszünk benne, hogy a mi befektetői és ügyfélbázisunkkal mindez meg is valósulhat.</p>

</article>
