<article class="text-content about-page">

	<h1>Kik vagyunk?</h1>

	<p>Egy fiatal, ötletekkel teli (gyakran maximalizmusra hajlamos) csapat vagyunk, akik azért fogtunk össze,  hogy mindazt  amiről eddig úgy gondoltuk "jobban tudnánk csinálni", azt meg is csináljuk.</p>

	<p>Cégünk több éve a piacon van, de mi nem elégedtünk meg a középszerű megoldásokkal, unalmas rutinmunkával, a babzsákfotellel és csocsóasztallal felszerelt mókuskerékkel, hanem új kihívást, és valódi sikerélményeket kerestünk.</p>

	<p>Ezért indítottuk startup projektjeinket, hogy innovatív megoldásokat és új szolgáltatásokat vezessünk be.</p>

	<p>Csapatunk minden tagja több év szakmai tapasztalattal és komoly szakmai felkészültséggel rendelkezik, mindannyiunk folyamatosan követi az aktualitásokat, új technológiákat és trendeket.</p>

</article>
