<article class="text-content about-page">

	<h1>Kik vagyunk?</h1>

	<p>Egy fiatal, ötletekkel teli (gyakran maximalizmusra hajlamos) csapat vagyunk, akik azért fogtunk össze,  hogy mindazt  amiről eddig úgy gondoltuk "jobban tudnánk csinálni", azt meg is csináljuk.</p>

	<p>Cégünk több éve a piacon van, de mi nem elégedtünk meg a középszerű megoldásokkal, unalmas rutinmunkával, a babzsákfotellel és csocsóasztallal felszerelt mókuskerékkel, hanem új kihívást, és valódi sikerélményeket kerestünk.</p>

	<p>Ezért indítottuk startup projektjeinket, hogy innovatív megoldásokat és új szolgáltatásokat vezessünk be.</p>

	<section class="team-section">

		<h2 id="csapat">Csapat</h2>

		<p>Csapatunk minden tagja több év szakmai tapasztalattal és komoly szakmai felkészültséggel rendelkezik, mindannyiunk folyamatosan követi az aktualitásokat, új technológiákat és trendeket.</p>

		<ul class="team-list">
			{{# data.team }}
			<li class="team-member{{# placeholder }} placeholder{{/ placeholder }}{{^ id2 }} no-real-img{{/ id2 }}">
				<div class="team-member-media"><!--
					--><video class="primary-media" autoplay loop poster="image/android/{{ id }}.jpg">
						<source src="image/android/{{ id }}.mp4" type='video/mp4; codecs="avc1.42E01F"'>
						<source src="image/android/{{ id }}.webm" type='video/webm; codecs=vp8'>
						<!--[if lt IE 9]><img src="image/android/{{ id }}.gif" alt="" /><![endif]-->
					</video>
					{{# id2}}
					<div class="secondary-media">
						<img src="image/portrait/{{ id2 }}.jpg" alt="{{ name }}" />
					</div>
					{{/ id2}}
				</div>
				<div class="team-member-data">
					<h3>{{ name }}</h3>
					<div class="team-member-field">{{ title }}</div>
					<ul class="team-member-icons">
						{{# icons }}
						<li><i tabindex="0" class="icon icon-{{ icon }}" title="{{ title }}"></i>
						{{/ icons }}
					</ul>
					{{# placeholder_days }}
					<p class="team-member-arrival">FOGLALT<br><span class="number">{{ placeholder_days }}</span> nap múlva</p>
					{{/ placeholder_days }}
				</div>
			</li>
			{{/ data.team }}
			<li class="team-member your-place">
				<div class="team-member-media">
					<div class="media-replacement threed-container">
						<div class="threed-elem">?</div>
					</div>
					<img src="image/android/default.gif" alt="" />
				</div>
				<div class="team-member-data">
					<a href="/kit-keresunk">
						<h3>A Te helyed!</h3>
						<div class="team-member-field">Csatlakozz!</div>
					</a>
					<ul class="team-member-icons">
						<li><i tabindex="0" class="icon icon-php" title="PHP senior backend fejlesztő"></i>
						<li><i tabindex="0" class="icon icon-python" title="Python senior backend fejlesztő"></i>
						<li><i tabindex="0" class="icon icon-devops" title="DevOps fejlesztő"></i>
						<li><i tabindex="0" class="icon icon-admin" title="Rendszergazda"></i>
					</ul>
				</div>
			</li>
		</ul>

	</section>

	<section>

		<h2 id="hitvallas">Hitvallás</h2>

		<blockquote class="manifesto-section">

			<footer class="captioned-image">
				<img src="image/robert-zettisch.jpg" alt="Zettisch Róbert, EcoStúdió CEO" />
				<cite class="caption">
					<p>Zettisch Róbert</p>
					<p>CEO</p>
				</cite>
			</footer>

			<h3>Családi vállalkozásból lett komoly fejlesztői Csapat</h3>

			<p>Az Economic Stúdió Kft webes fejlesztéseket készítő családi vállalkozásként indult 2009-ben, és büszkék lehetünk arra, hogy cégünk folyamatosan képes a fejlődésre, és rendületlenül ellátja a piaci igényeket. Köszönhető ez annak is, hogy a mára nálunk dolgozó 8 fejlesztő kolléga mindegyike nemhogy a saját szakterületének egyik legjobbja, hanem valamennyien ugyanazt a szellemiséget képviseljük.</p>

			<h3>Azért vagyunk, hogy Megrendelőink célba érjenek</h3>

			<p>Munkáinkat az első pillanataitól kezdve alaposan megtervezzük, kerüljük a kompromisszumokat igénylő kényszermegoldásokat. Mindebből következik, hogy a gyorsnak tűnő, kész, félkész megoldások alkalmazása nem a mi asztalunk. Komoly dolgokat fejlesztünk, igényes Megrendelőinknek. A hatékonyságot nem abban mérjük, hogy minél kevesebb munkával és ráfordítással átadjunk valamit, hanem sokkal fontosabb, hogy a Megrendelőnknek célja van a fejlesztéssel, és azt a mi segítségünkkel tudja elérni. Ez az igazi siker számunkra, amikor Megrendelőink célba érnek.</p>

			<h3>Dobozos szoftverek és egyedi fejlesztések</h3>

			<p>A webes világ egy roppant dinamikusan fejlődő környezet, ezért üzletpolitikánkat is időnként hozzá kell igazítani az aktuális trendekhez. Mára nyilvánvalóvá vált, hogy legfőbb felvevőpiacunkban, a KKV szektorban, a gazdaságos, dobozos szoftverek világa a leghatékonyabb. Ezért megalkottuk és folyamatosan fejlesztjük dobozos CMS, CRM, ERP rendszereinket. Sokévnyi üzleti tapasztalat, és felhasználók százaitól szerzett információk is segítenek ebben bennünket. Persze a dobozos világ mellett nagyon élvezzük, ha komoly szakmai kihívást jelentő egyedi fejlesztésekkel keresnek meg bennünket.</p>

			<p>Szerencsések vagyunk, mert a munkánk egyben a hobbink is!</p>

		</blockquote>

	</section>

</article>
