<article class="text-content contact-content">
	<h1>Elérhetőségeink</h1>

	<section class="contact-form {{#formsuccess}}sent-success{{/formsuccess}}">
		<h1>Írj nekünk üzenetet!</h1>

		<div class="success">
			<p>Köszönjük, hogy írtál!</p>
			<a href="{{routes.contact.url}}">Írok még egy levelet</a>
		</div>

		<form action="" method="post" novalidate>

			<label class="{{#formerrors.name}}has-error{{/formerrors.name}}">
				<input type="text" name="name" required placeholder="Név" value="{{formdata.name}}" />
				<span class="error">Kérjük, add meg a neved!</span>
			</label>

			<label class="{{#formerrors.subject}}has-error{{/formerrors.subject}}">
				<input type="text" name="subject" placeholder="Tárgy" value="{{formdata.subject}}" />
			</label>

			<label class="honeypot">
				<input type="email" name="email" required placeholder="Email cím" value="" />
			</label>

			<label class="{{#formerrors.email2}}has-error{{/formerrors.email2}}">
				<input type="email" name="email2" required placeholder="Email cím" value="{{formdata.email2}}" />
				<span class="error">Kérjük, add meg az email címed!</span>
			</label>

			<label class="{{#formerrors.phone}}has-error{{/formerrors.phone}}">
				<input type="phone" name="phone" placeholder="Telefonszám" value="{{formdata.phone}}" />
			</label>

			<label class="{{#formerrors.message}}has-error{{/formerrors.message}}">
				<textarea name="message" required placeholder="Üzenet szövege..." rows="8">{{formdata.message}}</textarea>
				<span class="error">Kérjük, ne felejtsd el az üzenetet is megírni!</span>
			</label>

			<button type="submit" class="action action-main">Küldés</button>

		</form>
	</section>

	<dl class="contact-info contact-info-main">
		<dt>Telefonszám</dt>
		<dd>+36 90 123 4567</dd>

		<dt>E-mail</dt>
		<dd><a href="mailto:info@ecostudio.hu">info@ecostudio.hu</a></dd>
	</dl>

	<dl class="contact-info contact-info-other">
		<dt>Cégnév</dt>
		<dd>Economic Stúdió Kft.</dd>

		<dt>Cégjegyzékszám</dt>
		<dd>22</dd>

		<dt>Cím</dt>
		<dd>1234 Budapest, Gyógyburger utca 8.</dd>

		<dt>Adószám</dt>
		<dd>1234567890</dd>
	</dl>
</article>
