<article class="text-content jobs-page">

	<h1>Kit keresünk?</h1>

	<p>Nemrég indult startup projektjeinkhez új agyakat keresünk. Lehetsz teljesen kezdő vagy profi fejlesztő, nekünk az alábbiak a legfontosabbak:</p>

	<h2 id="mire-szamitunk-toled">Mire számítunk tőled?</h2>

	<ul>
		<li>Legyen véleményed, ami szakmai érvekkel mindig alá tudsz támasztani.</li>
		<li>Szakmai felkészültség, hiszen nálunk mindenki tisztában van a saját területén az új technológiákkal, lehetőségekkel, amivel segíthet a többieknek.</li>
		<li>Nem azt várjuk, hogy betéve tudj mindent, elég ha legalább nagyjából érted az aktuális technológiák működését, és nem ijedsz meg, ha új dolgokat kell tanulni.</li>
		<li>Embereket keresünk, nem droidokat - használd az agyad, és nem érhet baj.</li>
		<li>Legyél csapatjátékos, hisz a fejlesztés ma már nem magányos farkasok területe.</li>
		<li>A Linux rendszerrel békülj ki, mert használni fogod.</li>
		<li>Eredmények, mi kizárólag erre vagyunk kíváncsiak.</li>
		<li>Hagyd a szabályokat, legyenek saját gondolataid.</li>
		<li>És végül a legfontosabb: igazán szeresd, amit csinálsz. </li>
	</ul>

	<h2 id="ha-junior-vagy">Ha Junior vagy</h2>

	<p>Jelentkezési feltételek kezdő fejlesztőknek:</p>
	<p>Nem gond, ha most jöttél az egyetemről, nem rendelkezel szakmai múlttal, nekünk 2 dolog számít: tudj gondolkodni, és legyél hajlandó tanulni! Minden szükséges segítséget és lehetőséget megadunk, hogy elsajátítsd nálunk a szakma alapjait, és rengeteget fejlődj. Természetesen ehhez rád is 100%-ban szükség van!</p>
	<p>Minimális elvárás az alábbiak közül bármely programnyelv ismerete:<br/>- PHP, CSS, JavaScript, Python</p>
	<p>Elég egy programnyelvet ismerned, a többit és a keretrendszert megtanulhatod nálunk, munkaidőben.</p>

	<h2 id="ha-senior-vagy">Ha senior vagy</h2>

	<p>Jelentkezési feltételek senior fejlesztőknek: </p>
	<p>A legfontosabb nálunk a szakmai felkészültség mellett a nyitottság az újdonságokra. Keress valódi kihívásokat, akarj gondolkodni, fejlődni. Számít a véleményed, kíváncsiak vagyunk az ötleteidre, aktív részvételt várunk új termékeink kitalálásában, bevezetésében. Nagy előny, ha a munkád a hobbid, azaz fel tudsz mutatni bármilyen szakmai hobbiprojektet, amin lelkesen dolgozol.</p> 
	<p>Az alapvető programnyelvek ismerete feltétel, a többit megtanulhatod nálunk.</p>

	<h2 id="mit-nyujtunk">Mit nyújtunk?</h2>

	<ul>
		<li>Izgalmas, nem sablon projekteket</li>
		<li>Rengeteg tanulási, fejlődési lehetőséget</li>
		<li>Komoly szakmai kihívásokat</li>
		<li>Modern technológiát</li>
		<li>Jófej, segítőkész munkatársakat</li>
		<li>Szabad platformválasztási lehetőséget</li>
		<li>Te alakíthatod ki a munkakörnyezeted az egértől a fali dekorációig meghatározott költségkeretből</li>
	</ul>

	<h2 id="nyitott-pozicioink">Nyitott pozícióink</h2>

	<ul>
		<li>Streaming fejlesztő</li>
		<li>Senior backend fejlesztő</li>
		<li>Senior frontend fejlesztő</li>
	</ul>

	<a href="/kapcsolat" class="button-link large">Jelentkezz!</a>

</article>
