<article class="text-content jobs-page">

	<h1>Karrier</h1>

	<h2>Kik vagyunk?</h2>

	<img class="full-image" src="image/jobs/image1.jpg" alt="" />

	<p>Egy fiatal, ötletekkel teli (gyakran maximalizmusra hajlamos) csapat, akik azért fogtunk össze, hogy mindazt, amiről eddig úgy gondoltuk, "jobban tudnánk csinálni", azt meg is csináljuk.</p>

	<p>Cégünk több éve a piacon van, de mi nem elégedtünk meg a középszerű megoldásokkal, unalmas rutinmunkával, a babzsákfotellel és csocsóasztallal felszerelt mókuskerékkel, hanem új kihívást, és valódi sikerélményeket kerestünk.</p>

	<p>Ezért indítottuk új projektjeinket, mert hiszünk benne, hogy a mi befektetői és ügyfélbázisunkkal mindez meg is valósulhat.</p>

	<h2>Hol vagyunk?</h2>

	<p>Fejlesztéseinknek otthont adó villánk Budán, a Törley család volt birtoka mellett van, közel mindenhez, mégis távol a világ zajától.</p>

	<ul>
		<li>Móricz Zsigmond körtértől tömegközlekedéssel 25, autóval 15 percre.
		<li>Kelenföldtől tömegközlekedéssel 25, autóval 10 percre.
		<li>Parkolóhely és bicikli tárolási lehetőség is van.
	</ul>

	<h2>Milyen nálunk dolgozni?</h2>

	<h3>Jó hangulat</h3>

	<img class="full-image" src="image/jobs/image4.jpg" alt="" />

	<p>Azokat akik nálunk dolgoznak, partnernek tekintjük, és nem kifacsarható, bármikor leváltható munkaerőnek, mert hiszünk abban, hogy így csapatunk sokkal erősebb, és hatékonyabb lehet.</p>

	<p>Ennek is köszönhetően a munka és ötletelések oldott hangulatban zajlanak, és nincsen fölösleges stresszelés.</p>

	<h3>Otthonos környezet</h3>

	<img class="full-image" src="image/jobs/image2.jpg" alt="" />

	<p>Irodáink tágasak, kényelmesek, az asztalod körüli dekorációt pedig saját ötleteid alapján alakíthatod ki.</p>

	<p>Kiegészítő munkaeszközeidet is te választhatod ki a meghatározott költségkeretből.</p>

	<img class="full-image" src="image/jobs/image6.jpg" alt="" />

	<p>Gombnyomásra készül el a frissen főzött kávéd, amit lehetetlen elrontani és mindig tökéletes, ráadásul 11 féle kávé közül választhatsz.</p>

	<img class="full-image" src="image/jobs/image5.jpg" alt="" />

	<p>Ha jó az idő, laptopoddal a kertbe is kiülhetsz a napernyő alá dolgozni, ahol néha grillezni is szoktunk együtt.</p>

	<h3>Kísérletezés, ötletelés</h3>

	<img class="full-image" src="image/jobs/image7.jpg" alt="" />

	<p>A főbb projektjeink mellett folyton kipróbálunk új dolgokat, technológiákat, és több kísérleti projekt indítása is folyamatban van.</p>

	<img class="full-image" src="image/jobs/image3.jpg" alt="" />

	<p>A kreatív ötletelések oldott hangulatban folynak, ahol mindenki érvényesülhet, és bedobhatja saját ötleteit.</p>

	<h2>Mit várunk?</h2>

	<p>Eredményeket várunk, nem látványmunkát, vagy értelmetlen szabályok, megszokások betartását. Cserébe mindent megadunk, ami a munkádhoz kell, nem akadályozunk a hatékonyságban és mi is rugalmasak vagyunk.</p>

	<p>Kreativitást, ha van egy jó ötleted, ne tartsd magadban. Ha valamiről azt gondolod, jobban is lehetne csinálni, beszéljük meg.</p>

	<h2>Szeretnél egy ilyen helyen dolgozni?</h2>

	<ul>
		<li>Szeretnél egy kellemes helyen, jó hangulatban dolgozni ahelyett, hogy egy levegőtlen, padlószőnyeges irodában robotolsz?
		<li>Unod, hogy mások butasága akadályozza a munkádat?
		<li>Eleged van az átgondolatlan rendszerekből és megoldásokból?
		<li>Szeretnél olyan dolgot csinálni, ami valóban számít?
	</ul>

	<p>Küldd el nekünk önéletrajzodat, látogass el hozzánk, és beszéljünk róla egy kávé mellett!</p>

	<p class="call-to-action"><button>Nézd meg nyitott pozícióinkat!</button></p>
</p>

</article>
