<article class="text-content jobs-page">

	<h1>Karrier</h1>

	<h2 id="mit-varunk">Mit várunk?</h2>

	<p>Eredményeket várunk, nem látványmunkát, vagy értelmetlen szabályok, megszokások betartását. Cserébe mindent megadunk, ami a munkádhoz kell, nem akadályozunk a hatékonyságban és mi is rugalmasak vagyunk.</p>

	<p>Kreativitást, ha van egy jó ötleted, ne tartsd magadban. Ha valamiről azt gondolod, jobban is lehetne csinálni, beszéljük meg.</p>

	<h2 id="mit-kinalunk">Mit kínálunk?</h2>

	<ul>
		<li>Szeretnél egy kellemes helyen, jó hangulatban dolgozni ahelyett, hogy egy levegőtlen, padlószőnyeges irodában robotolsz?
		<li>Unod, hogy mások butasága akadályozza a munkádat?
		<li>Eleged van az átgondolatlan rendszerekből és megoldásokból?
		<li>Szeretnél olyan dolgot csinálni, ami valóban számít?
	</ul>

	<p>Küldd el nekünk önéletrajzodat, látogass el hozzánk, és beszéljünk róla egy kávé mellett!</p>

	<p class="call-to-action"><button>Nézd meg nyitott pozícióinkat!</button></p>

</article>
