<article class="text-content office-page">
	<h2 id="milyen-nalunk-dolgozni">Milyen nálunk dolgozni?</h2>

	<h3 id="jo-hangulat">Jó hangulat</h3>

	<p>A nálunk dolgozókat partnerként kezeljük, nem kifacsarható, bármikor leváltható munkaerőként tekintünk rájuk.  A hatékonyság nálunk a csapatmunkában rejlik, senkit sem hagyunk magára a feladatával, mindenki megkapja a szükséges szakmai segítséget, támogatást munkájához.</p>

	<p>Ennek is köszönhetően a munka és az ötletelések is oldott hangulatban zajlanak, senkin sincs hatalmas nyomás, senki sem szenved a stressztől.</p>

	<!-- -->
	<h3 id="otthonos-kornyezet">Otthonos környezet</h3>

	<p>Irodáink tágasak, kényelmesek, mindenki úgy rendezheti be saját kis dolgozósarkát, ahogy csak szeretné.</p>

	<p>A villaépületet, amelyben dolgozunk, igyekszünk egyre otthonosabbá tenni, minden, amit itt látsz, a kerttől a dekorációig közös ötletelések gyümölcse.</p>

	<p>Munkaeszközeidet is te választhatod ki meghatározott költségkeretből, a technológiával kapcsolatban nem lesz okod panaszra.</p>

	<p>Ha jó az idő, laptopoddal a kertbe is kiülhetsz dolgozni, vagy letelepedhetsz a napernyő alá egyet kávézni. Nyáron még grillezni is szoktunk együtt ebédidőben. </p>

	<p>Mi nem a tipikus, csocsóasztallal és babzsákfotelekkel felszerelt sabloniroda vagyunk, ahol a látszat ellenére végkimerülésig hajtják az embereket, nálunk minden nap nyugodt, békés környezetre és hangulatra számíthatsz.</p>

	<div class="full-image-list slider">
		<img class="full-image slide" src="image/office/teritett-asztal.jpg" alt="Terített asztal a kertben" width="1920" height="1020" />
		<img class="full-image slide" src="image/office/kerti-munka.jpg" alt="Fejlesztés a kertben" width="1920" height="1020" />
		<img class="full-image slide" src="image/office/ez-itt-a-kert.jpg" alt="A kert és az egyik parkoló" width="1920" height="1020" />
		<img class="full-image slide" src="image/office/grillezes.jpg" alt="Grillezés a kertben" width="1920" height="1020" />
	</div>

	<!-- -->
	<h2 id="hol-vagyunk">Hol vagyunk?</h2>

	<img class="full-image" src="image/office/tompa-utca-iroda.jpg" width="1920" height="923" />

	<p>Irodánk Budán, a Körtvélyessy villában van, közel mindenhez, mégis távol a világ zajától.</p>

	<ul>
		<li>Móricz Zsigmond körtértől tömegközlekedéssel 25, autóval 15 percre.</li>
		<li>Kelenföldtől tömegközlekedéssel 25, autóval 10 percre.</li>
		<li>Parkolóhely és bicikli tárolási lehetőség is van.</li>
	</ul>
</article>