<article class="text-content office-page">

	<h1>Hol vagyunk?</h1>

	<h2 id="helyszin">Helyszín</h2>

	<p>Fejlesztéseinknek otthont adó villánk Budán, a Törley család volt birtoka mellett van, közel mindenhez, mégis távol a világ zajától.</p>

	<ul>
		<li>Móricz Zsigmond körtértől tömegközlekedéssel 25, autóval 15 percre.
		<li>Kelenföldtől tömegközlekedéssel 25, autóval 10 percre.
		<li>Parkolóhely és bicikli tárolási lehetőség is van.
	</ul>

	<h2>Milyen nálunk dolgozni?</h2>

	<h3 id="hangulat">Jó hangulat</h3>

	<img class="full-image" src="image/jobs/image4.jpg" alt="" />

	<p>Azokat akik nálunk dolgoznak, partnernek tekintjük, és nem kifacsarható, bármikor leváltható munkaerőnek, mert hiszünk abban, hogy így csapatunk sokkal erősebb, és hatékonyabb lehet.</p>

	<p>Ennek is köszönhetően a munka és ötletelések oldott hangulatban zajlanak, és nincsen fölösleges stresszelés.</p>

	<h3 id="kornyezet">Otthonos környezet</h3>

	<img class="full-image" src="image/jobs/image2.jpg" alt="" />

	<p>Irodáink tágasak, kényelmesek, az asztalod körüli dekorációt pedig saját ötleteid alapján alakíthatod ki.</p>

	<p>Kiegészítő munkaeszközeidet is te választhatod ki a meghatározott költségkeretből.</p>

	<img class="full-image" src="image/jobs/image6.jpg" alt="" />

	<p>Gombnyomásra készül el a frissen főzött kávéd, amit lehetetlen elrontani és mindig tökéletes, ráadásul 11 féle kávé közül választhatsz.</p>

	<img class="full-image" src="image/jobs/image5.jpg" alt="" />

	<p>Ha jó az idő, laptopoddal a kertbe is kiülhetsz a napernyő alá dolgozni, ahol néha grillezni is szoktunk együtt.</p>

	<h3>Kísérletezés, ötletelés</h3>

	<img class="full-image" src="image/jobs/image7.jpg" alt="" />

	<p>A főbb projektjeink mellett folyton kipróbálunk új dolgokat, technológiákat, és több kísérleti projekt indítása is folyamatban van.</p>

	<img class="full-image" src="image/jobs/image3.jpg" alt="" />

	<p>A kreatív ötletelések oldott hangulatban folynak, ahol mindenki érvényesülhet, és bedobhatja saját ötleteit.</p>

</article>
