<article class="text-content office-page">

	<h1>Milyen nálunk?</h1>

	<h2 id="hol-vagyunk">Hol vagyunk?</h2>

	<p>Ötleteinknek otthont adó menedékünk Budán, a Körtvélyessy villában van, közel mindenhez, mégis távol a világ zajától.</p>

	<ul>
		<li>Móricz Zsigmond körtértől tömegközlekedéssel 25, autóval 15 percre.
		<li>Kelenföldtől tömegközlekedéssel 25, autóval 10 percre.
		<li>Parkolóhely és bicikli tárolási lehetőség is van.
	</ul>

	<h2 id="milyen-nalunk-dolgozni">Milyen nálunk dolgozni?</h2>

	<h3 id="jo-hangulat">Jó hangulat</h3>

	<p>Azokat akik nálunk dolgoznak, partnernek tekintjük, és nem kifacsarható, bármikor leváltható munkaerőnek, mert hiszünk abban, hogy így csapatunk sokkal erősebb, és hatékonyabb lehet.</p>

	<p>Ennek is köszönhetően a munka és ötletelések oldott hangulatban zajlanak, és nincsen fölösleges stresszelés.</p>

	<h3 id="otthonos-kornyezet">Otthonos környezet</h3>

	<p>Dolgozószobáink tágasak, kényelmesek, az asztalod körüli dekorációt pedig saját ötleteid alapján alakíthatod ki.</p>

	<p>Igyekszünk a villát folyamatosan egyre otthonosabbá tenni, itt minden közös ötletelések gyümölcse.</p>

	<p>Munkaeszközeidet is te választhatod ki a meghatározott költségkeretből.</p>

	<p>Gombnyomásra készül el a frissen főzött kávéd, amit lehetetlen elrontani és mindig tökéletes, ráadásul 11 féle kávé közül választhatsz.</p>

	<img class="full-image" src="image/kerti-munka.jpg" alt="Munka a kertben" />

	<p>Ha jó az idő, laptopoddal a kertbe is kiülhetsz a napernyő alá dolgozni, ahol grillezni is szoktunk együtt.</p>

	<img class="full-image" src="image/grillezes.jpg" alt="Munka a kertben" />

	<h3 id="kiserletezes-otleteles">Kísérletezés, ötletelés</h3>

	<p>A főbb projektjeink mellett folyton kipróbálunk új dolgokat, technológiákat, és több kísérleti projekt indítása is folyamatban van.</p>

	<p>A kreatív ötletelések oldott hangulatban folynak, ahol mindenki érvényesülhet, és bedobhatja saját ötleteit.</p>

</article>
