<article class="text-content projects-page">

	<h1>Mit csinálunk?</h1>

	<p>Meglévő szolgáltatásaink mellett új fejlesztésekbe fogtunk bele, emiatt folyamatosan növekszik a csapatunk.</p>

	<ul class="project-list">

		<li>
			<h2 id="cms">CMS</h2>
			<i class="icon icon-cms"></i>

			<p>A cég egyik stabil bevételi alapját egy modern, számunkra és ügyfeleink számára is kényelmes CMS jelenti, amit folyamatosan fejlesztünk, és tovább szeretnénk bővíteni.</p>

			<ul>
				<li>Felhasználóbarát
				<li>Jól bővíthető, fejleszthető
				<li>Laravel backend
				<li>Bootstrap frontend
				<li>Erős SEO funkciók
				<li>Átgondolt, egységes paradigma
			</ul>
		</li>

		<li>
			<h2 id="videostreaming-engine">Videostreaming engine</h2>
			<i class="icon icon-streaming"></i>

			<p>Egy friss fejlesztési irányként célul tűztük ki egy bővíthető, több témában is jól integrálható streaming motor megalkotását - néhány hónapon belül több, erre épülő konkrét terméket készülünk piacra dobni.</p>

			<ul>
				<li>Flexibilis
				<li>Jól integrálható
				<li>Saját streaming szerver
				<li>Java, Haxe, PHP, Javascript
			</ul>
		</li>

		<li>
			<h2 id="egyedi-webes-fejlesztesek">Egyedi webes fejlesztések</h2>
			<i class="icon icon-uzemeltetes"></i>

			<p>Időről időre meglevő ügyfeleink speciális igényeinek is eleget teszünk, változó méretű és komplexitású fejlesztések formájában.</p>

			<ul>
				<li>Meglévő ügyfeleink egyedi igényeinek kielégítése
				<li>PHP, Javascript, HTML5, CSS3
				<li>Laravel, Angular, JQuery
				<li>Foundation, Bootstrap
				<li>SASS, LESS, Stylus
			</ul>
		</li>

		<li>
			<h2 id="uzemeltetes">Üzemeltetés</h2>
			<i class="icon icon-webfejlesztes"></i>

			<p>Saját szolgáltatásaink napi szintű fenntartása mellett elkezdtük ügyfeleink webes infrastruktúrájának üzemeltetését is vinni, továbbá hamarosan még komplexebb szolgáltatásokkal leszünk jelen ezen a piacon is.</p>

			<ul>
				<li>Webmail, tárhely
				<li>VPS
				<li>High Availability
			</ul>
		</li>

	</ul>

</article>
