<article class="hero slider">

	<section class="slide slide-image">
		<img class="media" src="image/hero-content/aquarium.jpg" alt="" />
		<div class="hero-text">
			<h1 style="background-image: url(image/hero/seo.png)">
				<span class="hero-title">AKVÁRIUM</span>
				<span class="hero-tagline">Ehhez is értünk</span>
			</h1>
			<p class="text">I need a hero! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
		</div>
	</section>

	<section class="slide slide-video">
		<video class="media preview " preload="metadata" loop>
			<source type="video/mp4" src="image/hero-content/aquarium-fullhd.mp4" />
			<source type="video/webm" src="image/hero-content/aquarium-fullhd.webm" />
		</video>
		<div class="hero-text">
			<h1 style="background-image: url(image/hero/seo.png)">
				<span class="hero-title">ÚSZNAK</span>
				<span class="hero-tagline">Mint hal a vízben</span>
			</h1>
			<p class="text">I need a hero! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
			<button class="hero-play fa-play" title="Play"></button>
		</div>
	</section>

	<section class="slide slide-image">
		<img class="media" src="image/hero-content/harold_eco.jpg" alt="" />
		<div class="hero-text">
			<h1 style="background-image: url(image/hero/seo.png)">
				<span class="hero-title">HAROLD</span>
				<span class="hero-tagline">Rábízná az életét?</span>
			</h1>
			<p class="text">I need a hero! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
		</div>
	</section>

	<button class="prev" title="Előző"></button>
	<button class="next" title="Következő"></button>

</article>
